{% extends 'base.html' %}
{% block main %}
    
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <h2>Log In</h2>
            <form method="post">
                {% csrf_token %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Log In"/>
            </form>
            <p><a href="{% url 'user:signup' %}">Register</a></p>
            <p><a href="{% url 'post:home' %}">Home</a></p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4"></div>
    </div>
{% endblock main %}